.chessboardContainer {
  width: 500px;
  height: 500px;
  background-image: url("/images/Board.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.customChessboard .chessboard {
  background: transparent !important;
}
